/*  your css code here. If applicable */
body{
	margin: 0;
	background: #fff;
}

.grid-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 100px);
	gap: 10px;
	padding: 10px;
	background: green;
}

.item{
	background: rgba(255, 255, 255, 0.1);
	color: white;
	font-size: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 5px;
	font-weight: bold;
	border: 2px solid white;
}

.item1{
	grid-column: 1 / 5;
	grid-row: 1 / 2;
}

.item2{
	grid-column: 1 / 2;
	grid-row: 2 / 6;
}

.item3{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.item4{
	grid-column: 3 / 5;
	grid-row: 2 / 3;
}

.item5{
	grid-column: 2 / 4;
	grid-row: 3 / 4;
}

.item6{
	grid-column: 4 / 5;
	grid-row: 3 / 4;
}

.item7{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

.item8{
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}

.item9{
	grid-column: 4 / 5;
	grid-row: 4 / 5;
}

.item10{
	grid-column: 2 / 5;
	grid-row: 5 / 6;
}
